<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add employee</h1>
<form>
    <label for="firstName">First name</label>
    <input type="text" id="firstName" placeholder="Type first name">
    <br>
    <label for="lastName">Last name</label>
    <input type="text" id="lasttName" placeholder="Type last name">
    <br>
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Type email">
    <br>
    <input type="submit">
</form>

</body>
</html>