<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
<button type="button">Add employee!</button>
<table style="border-style: solid;width:100%;">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>Raimonds</td>
        <td>Raimonds</td>
        <td>Raimonds</td>
        <td><button type="button">Edit</button></td>
        <td><button type="button">Delete</button></td>
    </tr>
</table>

</body>
</html>